<div class="Ironhack">
  <h4>
    <img src="assets/Ironhack.png">
    <h3>REALEstado</h3>
  </h4>
</div>
<br>
<br>
<div  class="container">
  <div class="pisoContainer">
    <p >{{pisoDetalle.tipo | titlecase}} en {{pisoDetalle.proposito}}</p>
    <img src="{{pisoDetalle.fotos[0]}}" alt="Piso">
  </div>
  <div class="infoContainer">
    <span>
      <b>Precio: {{pisoDetalle.precio | currency:'EUR'}}</b>
      <br>
    </span>
    <br>
    <span>
      <b>Direccion:</b> Calle {{pisoDetalle.direccion.calle}}, {{pisoDetalle.direccion.localidad}} {{pisoDetalle.direccion.provincia}}
      <br>
    </span>
    <br>
    <span>
      <b>Fecha Publicación:</b> {{pisoDetalle.fechaPublicacion | date}}
    </span>
    <br>
    <br>
    <span>
      <b>Caracteristicas:</b> {{pisoDetalle.caracteristicas.tamanom2}}m2 Hab: {{pisoDetalle.caracteristicas.numHab}} Baños: {{pisoDetalle.caracteristicas.numBan}}
    </span>
    <br>
    <br>
    <span>
      <b>Sinopsis</b>
      <br>{{pisoDetalle.descripcion}}
    </span>
    <br>
    <br>
    <span *ngFor="let foto of pisoDetalle.fotos">
      <img class="fotos" src="{{foto}}">
    </span>
    <br>
    <a [routerLink]="['/']">Go Home</a>
  </div>
</div>
<agm-map  [latitude]="pisoDetalle.location.coordinates[0]" [longitude]="pisoDetalle.location.coordinates[1]" [zoom]="zoom">
  <agm-marker [latitude]="pisoDetalle.location.coordinates[0]" [longitude]="pisoDetalle.location.coordinates[1]"></agm-marker>
</agm-map>