.Ironhack {
  display: flex;
  text-align: center;
  flex-wrap: wrap;  
  justify-content: center;
}
.container {
  display: flex;
  justify-content: left;
}
.infoContainer {
  padding: 50px 0px 0px 20px;
  width: 45%;
}

.pisoContainer{
  width: 45%;

}
.pisoContainer img {
  width: 100%;
  object-fit: cover;
}
.fotos {
  width: 30%;
}
agm-map {
  height: 300px;
}