.Ironhack {
  display: flex;
  text-align: center;
  flex-wrap: wrap;  
  justify-content: center;
}
.pisosContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  padding-left: 250px;
}
.pisoContainer {
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 4px 4px 8px #888888;
  background-color: #ededed47;
  padding: 20px; 
}

.pisosssss {
  padding: 50px;
}

.pisoContainer img {
  width: 70%;
  object-fit: cover;
}
.filtro {
  position: fixed;
  border-radius: 25px;
  border: 2px solid rgb(144, 146, 141);
  padding: 20px; 
  width: 250px;
  height: 530px;   
}

.addPisoForm {
  border-radius: 25px;
  border: 2px solid rgb(144, 146, 141);
  padding: 20px; 
}

.botonAddPiso {
  background-color: darkcyan;
  object-position: right;
}
.txtArea{
  width: 122vh;
  height: 40vh;
}
.botonNewPiso {
  display: flex;
  justify-content: flex-end;
  margin: 0px 50px;
}