<div class="filtro" *ngIf="filtroEnable == true" >
    <h4>Filtro</h4>
    <label>Tipo:         </label>
    <input [(ngModel)]="patternTipo">
    <br>
    <label>Proposito:    </label>
    <input [(ngModel)]="patternProp">
    <br>    
    <label>Localidad:    </label>
    <input [(ngModel)]="patternLoc">
    <br>
    <label>Calle:         </label>
    <input [(ngModel)]="patternCalle">
    <br>
    <label>Habitaciones hasta: </label>
    <input type="number"   [(ngModel)]="patternHab">
    <br>       
    <label>Baños hasta: </label>
    <input type="number"   [(ngModel)]="patternBan">
    <br> 
    <label>Precio hasta: </label>
    <input type="number"   [(ngModel)]="patternPrecio">
    <br> 
  </div>






<div class="addPisoForm" *ngIf="formEnable == true && newPiso">
  <form>
        <div class="addBotonPiso">
            <button class="btn btn-secondary btn-lg btn-block" (click)="addNewPiso()" value="publicar">Publicar</button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
            <label for="proposito">Proposito: </label>
            <select class="form-control"  size="1" [(ngModel)]="newPiso.proposito" name="proposito" value="Alquiler">
                <option value="venta">Venta</option>
                <option value="alquiler">Alquiler</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="tipo">Tipo: </label>
              <select class="form-control" size="1" [(ngModel)]="newPiso.tipo" name="tipo" value="piso">
                <option value="piso">Piso</option>
                <option value="casa">Casa</option>
                <option value="duplex">Duplex</option>
                <option value="atico">Ático</option>
              </select>
            </div>
        </div>            
        <h4>Información de Contacto</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="contact-name">Nombre: </label>
                <input class="form-control" type="text" [(ngModel)]="newPiso.contacto.nombre" name="nombre">
            </div>
            <div class="form-group col-md-2">               
                 <label for="contact-phone">Teléfono: </label>
                <input class="form-control" type="tel" [(ngModel)]="newPiso.contacto.telefono" name="telefono">
            </div>
            <div class="form-group col-md-2">  
                <label for="contact-email">Email: </label>
                <input class="form-control" type="tel" [(ngModel)]="newPiso.contacto.email" name="email">
            </div>
        </div>            
        <h4>Información de Dirección</h4>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="contact-name">Provincia </label>
                <select class="form-control" size="1" [(ngModel)]="newPiso.direccion.provincia" name="provincia" value="Madrid">
                    <option value="A Coruna">A Coruna</option>
                    <option value="Alaba">Alaba</option>
                    <option value="Albacete">Albacete</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Castellon">Castellon</option>
                    <option value="Cuenca">Cuenca</option>
                    <option value="Huelva">Huelva</option>
                    <option value="Las Palmas">Las Palmas</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Sevilla">Sevilla</option>
                    <option value="Zamora">Zamora</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="dir-localidad">Localidad: </label>
                <input class="form-control" type="text" [(ngModel)]="newPiso.direccion.localidad" name="localidad">
            </div>
            <div class="form-group col-md-4">
                <label for="dir-calle">Calle: </label>
                <input class="form-control" type="text" [(ngModel)]="newPiso.direccion.calle" name="calle">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">          
                <label for="dir-numero">Número: </label>
                <input class="form-control" type="number" [(ngModel)]="newPiso.direccion.numero" name="numero">
            </div>
            <div class="form-group col-md-2">              
                <label for="dir-planta">Planta: </label>
                <input class="form-control" type="number" [(ngModel)]="newPiso.direccion.planta" name="planta">
            </div>
            <div class="form-group col-md-4">             
                <label for="dir-numPiso">Numero de Piso: </label>
                <input class="form-control" type="text" [(ngModel)]="newPiso.direccion.numPiso" name="numPiso">
            </div>
        </div>
        <h4>Foto principal</h4>        
        <div class="form-group">
            <input  class="form-control-file" type="file" name="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <h4 for="precio">Precio</h4>              
        <div class="form-group">
            <input class="form-control" type="number" [(ngModel)]="newPiso.precio" name="numero">          
        </div> 
        <h4>Caracteristicas</h4>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="tamano">Tamaño: </label>
                <input class="form-control" type="number" [(ngModel)]="newPiso.caracteristicas.tamanom2" name="tamanom2">
            </div>
            <div class="form-group col-md-2">
                <label for="numcuartos">Número de Cuartos: </label>
                <input class="form-control" type="number" [(ngModel)]="newPiso.caracteristicas.numHab" name="numHab"> 
            </div>
            <div class="form-group col-md-2">
                <label for="numbanos">Número de Baños: </label>
                <input class="form-control" type="number" [(ngModel)]="newPiso.caracteristicas.numBan" name="numBan"> 
            </div>
        </div>
    </form>
    <div class="form-group">
        <h4 for="tamano">Sinopsis </h4>
        <textarea class="form-control" class="txtArea" [(ngModel)]="newPiso.descripcion" name="descripcion" form="formaPiso">Enter text here...</textarea>
    </div>
</div><br>
<div class="botonNewPiso">
    <button *ngIf="sessionService.user" class="btn btn-primary" (click)="addForm()">Desea publicar un piso?</button>
</div>

<div class="pisosContainer">
        <div class="Ironhack">
                <h4><img src="assets/Ironhack.png">
                  <h3>Pisos REALEstado</h3>
                </h4>
              </div>
  <div class="pisosssss" *ngFor="let piso of service.pisosList | filter:'tipo':patternTipo | filter:'proposito':patternProp | filter:'direccion.localidad':patternLoc | filter:'direccion.calle':patternCalle | filter:'caracteristicas.numHab':patternHab | filter:'caracteristicas.numBan':patternBan | filter:'precio':patternPrecio">
     <div class="pisoContainer">
         <h4>Localidad {{piso.direccion.localidad}}</h4>
         <p><b>Calle</b> {{piso.direccion.calle}}</p>
         <p><b>{{piso.tipo | titlecase}}</b> en <b>{{piso.proposito}}</b>,  <b>Precio:</b> {{piso.precio | currency:'EUR'}}, <b>Num. Hab:</b> {{piso.caracteristicas.numHab}}, <b>Num. Baños:</b> {{piso.caracteristicas.numBan}}</p>
         <img src="{{piso.fotos[0]}}"><br>
         <a  [routerLink]="['/pisos',piso._id]">Ir a detalle</a>
         <br><br>
     </div>
  </div>
</div>


