.Ironhack {
  display: flex;
  text-align: center;
  flex-wrap: wrap;  
  justify-content: center;
}
.pisosContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.pisoContainer {
  flex-wrap: wrap;
  text-align: center;
}

.pisoContainer img {
  width: 70%;
  object-fit: cover;

}
.filtro {
  position: fixed;
  border-radius: 25px;
  border: 2px solid rgb(144, 146, 141);
  padding: 20px; 
  width: 200px;
  height: 400px;   
}

.addPisoForm {
  border-radius: 25px;
  border: 2px solid rgb(144, 146, 141);
  padding: 20px; 
}

.botonAddPiso {
  background-color: darkcyan;
  object-position: right;
}
.txtArea{
  width: 122vh;
  height: 40vh;
}